@font-face {
  font-family: 'SendFlowers';
  src: url(assets/fonts/SendFlowers-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'BigNoodle';
  src: url(assets/fonts/big_noodle_titling.ttf) format('truetype');
}

@font-face {
  font-family: 'ADL';
  src: url(assets/fonts/ADLaMDisplay-Regular.ttf) format('truetype');
}

html, body, #app, #app, #root {
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  background-color: #E4DFAF !important;
}

#root {
  background-color: #E4DFAF;
}